doctype html
head
  title Shortify | Error
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Baloo+2")
  link(rel="stylesheet", href="/assets/css/styles.css")
body
  div.main-content
    div.error-area
      h1.error-header Error: #{ error_code }
      hr
      h2.error-message=error_message