html
    head
        title=title
    body
        h1(class="header") kek.cx - Shorten your URLs Cx
        br
        input(type="text")
        input(type="text")
        br
        button(type="submit") Shorten Cx
