.dashboard-navbar {
    border-top-width: 10px;
    width: 70%;
    background-color: #79523e;
    margin: auto;
    padding-left: 1%;
    padding-right: 1%;
    border-color: #6c4937;
    border-right-width: 10px;
    border-right-style: solid;
    border-left-width: 10px;
    border-left-style: solid;
    padding-top: 10px;
    padding-bottom: 12px;
    border-top-style: solid;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 1.5%;
}

.dashboard-area {
    border-top-width: 10px;
    width: 70%;
    background-color: #79523e;
    margin: auto;
    padding-left: 1%;
    padding-right: 1%;
    border-color: #6c4937;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-right-width: 10px;
    border-right-style: solid;
    border-left-width: 10px;
    border-left-style: solid;
    padding-top: 10px;
    padding-bottom: 12px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.dashboard-tabs {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.tab {
    width: 150px;
}

.tab_active {
    width: 150px;
}

.dashboard-header {
  margin: auto;
}

.top-shortens {
    border-collapse: collapse;
    width: 30%;
}

.top-shortens td, .top-shortens th {
    border: 3px solid #bbb;
}

.top-shortens th {
    background-color: var(--main-color);
    border: 3px solid var(--main-color-secondary)
}

.top-shortens tr {
    background-color: #ddd;
}

.top-shortens tr:nth-child(even) {
    background-color: var(--text-color);
}

.top-shortens tr:hover {
    background-color: #bbb;
    border: 3px solid #bbb;
}

.top-shortens td {
    color: black;
    padding-left: 10px;
}

.top-shortens td:nth-child(even) {
    text-align: center;
    padding-left: 1px;
}

