h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.dashboard-navbar {
    border-top-width: 10px;
    width: 50%;
    background-color: #825f4d;
    margin: 0 auto auto auto;
    padding: 10px 3% 12px 3%;
    border-color: #6c5345;
    border-right-width: 10px;
    border-right-style: solid;
    border-left-width: 10px;
    border-left-style: solid;
}

.dashboard-area {
    border-top-width: 10px;
    width: 50%;
    background-color: #79523e;
    margin: auto;
    padding: 10px 3% 12px 3%;
    border-color: #6c4937;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-right-width: 10px;
    border-right-style: solid;
    border-left-width: 10px;
    border-left-style: solid;
    border-radius: 0px 0px 30px 30px;
}

.dashboard-tabs {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.tab {
    width: 150px;
}

.tab_active {
    width: 150px;
}

.dashboard-header {
  margin: auto;
}

.top-shortens {
    width: 90%;
}

.top-shortens td:nth-child(even) {
    text-align: center;
    padding-left: 1px;
}

.split-hr {
    margin: 0% 10% 18px 0%;
}

.area-header {
    margin-bottom: 0px;
}

